In [1]:
pwd

'/home/khyaathipython/batch55'

In [2]:
f=open("data.csv","w")

In [3]:
f.write("some content..")

14

In [4]:
f.close()

In [5]:
f.write("some more content")

ValueError: I/O operation on closed file.

In [6]:
f=open("data.csv","w")

In [7]:
f.write("some content")

12

In [8]:
f.flush()

In [9]:
f.write("some more content")
f.write("end of the content")

18

In [10]:
f.flush()

In [12]:
f.write("\n thank you..")

13

In [13]:
f.flush()

In [14]:
f=open("data.csv","a")

In [15]:
f.write("writing data in append mode")

27

In [16]:
f.close()

In [17]:
f=open("data1.csv","a")

In [18]:
l=["jay","sai","samba","vedha","dhana"]
f.write(l)

TypeError: write() argument must be str, not list

In [19]:
l=["jay","sai","samba","vedha","dhana"]
f.writelines(l)

In [20]:
f.close()

In [1]:
f=open("data.csv","w")
data = [{"name":"sai","id":1},{"name":"samba","id":2},{"name":"jay","id":3}]
f.write(data)

TypeError: write() argument must be str, not list

In [2]:
f=open("data.csv","w")
data = [{"name":"sai","id":1},{"name":"samba","id":2},{"name":"jay","id":3}]
f.writelines(data)

TypeError: write() argument must be str, not dict

In [4]:
f=open("data.csv","w")
data = [{"name":"sai","id":1},{"name":"samba","id":2},{"name":"jay","id":3}]
data_str = str(data)
f.write(data_str)
f.close()

In [6]:
f=open("data.csv","r")
data=f.read()
print(data)

[{'name': 'sai', 'id': 1}, {'name': 'samba', 'id': 2}, {'name': 'jay', 'id': 3}]

In [7]:
type(data)

str

In [8]:
for i in data:
    print(i)
    break

[

In [13]:
import pickle
f=open("data.csv","wb")
data = [{"name":"sai","id":1},{"name":"samba","id":2},{"name":"jay","id":3}]
pickle.dump(data,f)
f.close()

In [15]:
f=open("data.csv","rb")
data=f.read()
print(data)

b'\x80\x03]q\x00(}q\x01(X\x04\x00\x00\x00nameq\x02X\x03\x00\x00\x00saiq\x03X\x02\x00\x00\x00idq\x04K\x01u}q\x05(h\x02X\x05\x00\x00\x00sambaq\x06h\x04K\x02u}q\x07(h\x02X\x03\x00\x00\x00jayq\x08h\x04K\x03ue.'

In [16]:
import pickle
f=open("data.csv","rb")
data=pickle.load(f)
print(data)
print(type(data))
f.close()

[{'name': 'sai', 'id': 1}, {'name': 'samba', 'id': 2}, {'name': 'jay', 'id': 3}]
<class 'list'>

In [19]:
data = [{"name":"sai","id":1},{"name":"samba","id":2},{"name":"jay","id":3}]
import json
f=open("data.json","w")
json.dump(data,f)
f.close()

In [20]:
s=b"dfghd"
print(type(s))

<class 'bytes'>

In [21]:
s=u"dfghd"
print(type(s))

<class 'str'>

In [22]:
s="dfghd"
print(type(s))

<class 'str'>

In [23]:
import json
f=open("data.json","r")
data = json.load(f)
print(data)
print(type(data))

[{'name': 'sai', 'id': 1}, {'name': 'samba', 'id': 2}, {'name': 'jay', 'id': 3}]
<class 'list'>

In [24]:
import yaml

In [26]:
import yaml
data = [{"name":"sai","id":1},{"name":"samba","id":2},{"name":"jay","id":3}]
f=open("data.yaml","w")
yaml.dump(data,f)
f.close()

In [27]:
import yaml
f=open("data.yaml")
data=yaml.load(f)
print(data)

[{'id': 1, 'name': 'sai'}, {'id': 2, 'name': 'samba'}, {'id': 3, 'name': 'jay'}]

In [28]:
type(data)

list

In [30]:
data=open("fun1.jpg","rb").read()
print(data[:100])

b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xdb\x00C\x00\x05\x03\x04\x04\x04\x03\x05\x04\x04\x04\x05\x05\x05\x06\x07\x0c\x08\x07\x07\x07\x07\x0f\x0b\x0b\t\x0c\x11\x0f\x12\x12\x11\x0f\x11\x11\x13\x16\x1c\x17\x13\x14\x1a\x15\x11\x11\x18!\x18\x1a\x1d\x1d\x1f\x1f\x1f\x13\x17"$"\x1e$\x1c\x1e\x1f\x1e\xff\xdb\x00C\x01\x05\x05\x05\x07\x06\x07'

In [31]:
data=open("fun1.jpg","rb").read()
f=open("fun1_copy.jpg","wb")
for i in range(10):
    f.write(data)
    f.flush()
f.close()

In [32]:
f=open("fun1_copy.jpg","rb")
data=f.read()

In [33]:
names=["samba","murthy","nithish","raja","ram","sandeep","manoj","seema"]
import random
random.choice(names)

'seema'

In [34]:
names=["samba","murthy","nithish","raja","ram","sandeep","manoj","seema"]
import random
random.choice(names)

'ram'

In [35]:
names=["samba","murthy","nithish","raja","ram","sandeep","manoj","seema"]
import random
random.choice(names)

'seema'

In [36]:
names=["samba","murthy","nithish","raja","ram","sandeep","manoj","seema"]
import random
random.choice(names)

'raja'

In [37]:
names=["samba","murthy","nithish","raja","ram","sandeep","manoj","seema"]
import random
random.choice(names)

'samba'

In [38]:
names=["samba","murthy","nithish","raja","ram","sandeep","manoj","seema"]
salaries=["30k","40k","50k","60k","70k","80k","90k","1l","2l","3l"]
row="%s,%s,%s\n"%(1,random.choice(names),random.choice(salaries))
print(row)

1,ram,80k

In [39]:
names=["samba","murthy","nithish","raja","ram","sandeep","manoj","seema"]
salaries=["30k","40k","50k","60k","70k","80k","90k","1l","2l","3l"]
f=open("data.csv","w")
for i in range(100):
    row="%s,%s,%s\n"%(i,random.choice(names),random.choice(salaries))
    f.write(row)
    f.flush()
f.close()

In [41]:
f=open("data.csv")
data=f.read()
print(data,type(data))

0,ram,30k
1,samba,80k
2,murthy,50k
3,nithish,70k
4,ram,60k
5,sandeep,70k
6,nithish,2l
7,seema,40k
8,nithish,3l
9,manoj,40k
10,raja,40k
11,manoj,60k
12,sandeep,70k
13,sandeep,80k
14,manoj,1l
15,ram,3l
16,ram,40k
17,sandeep,3l
18,ram,40k
19,sandeep,30k
20,nithish,80k
21,murthy,3l
22,raja,50k
23,nithish,40k
24,ram,1l
25,raja,50k
26,ram,30k
27,ram,80k
28,murthy,40k
29,sandeep,2l
30,ram,1l
31,manoj,60k
32,manoj,3l
33,samba,40k
34,ram,80k
35,ram,40k
36,seema,2l
37,ram,3l
38,ram,70k
39,raja,90k
40,seema,50k
41,raja,90k
42,raja,80k
43,nithish,80k
44,raja,50k
45,nithish,2l
46,ram,50k
47,manoj,1l
48,nithish,2l
49,sandeep,50k
50,raja,70k
51,sandeep,70k
52,raja,60k
53,ram,1l
54,seema,40k
55,raja,90k
56,samba,1l
57,murthy,90k
58,manoj,1l
59,seema,70k
60,seema,1l
61,manoj,30k
62,ram,60k
63,ram,40k
64,murthy,80k
65,samba,1l
66,sandeep,70k
67,manoj,3l
68,murthy,90k
69,nithish,60k
70,ram,3l
71,samba,90k
72,murthy,50k
73,raja,40k
74,ram,40k
75,nithish,90k
76,murthy,60k
77,nithish,2l
78,manoj,80k
79,seema,30k
80,murthy,60k
81,nithish,30k
82,nithish,30k
83,sandeep,70k
84,ram,2l
85,manoj,3l
86,nithish,80k
87,ram,40k
88,seema,60k
89,sandeep,50k
90,raja,2l
91,samba,2l
92,murthy,1l
93,nithish,90k
94,seema,70k
95,samba,30k
96,sandeep,30k
97,nithish,2l
98,sandeep,3l
99,manoj,3l
 <class 'str'>

In [42]:
data

'0,ram,30k\n1,samba,80k\n2,murthy,50k\n3,nithish,70k\n4,ram,60k\n5,sandeep,70k\n6,nithish,2l\n7,seema,40k\n8,nithish,3l\n9,manoj,40k\n10,raja,40k\n11,manoj,60k\n12,sandeep,70k\n13,sandeep,80k\n14,manoj,1l\n15,ram,3l\n16,ram,40k\n17,sandeep,3l\n18,ram,40k\n19,sandeep,30k\n20,nithish,80k\n21,murthy,3l\n22,raja,50k\n23,nithish,40k\n24,ram,1l\n25,raja,50k\n26,ram,30k\n27,ram,80k\n28,murthy,40k\n29,sandeep,2l\n30,ram,1l\n31,manoj,60k\n32,manoj,3l\n33,samba,40k\n34,ram,80k\n35,ram,40k\n36,seema,2l\n37,ram,3l\n38,ram,70k\n39,raja,90k\n40,seema,50k\n41,raja,90k\n42,raja,80k\n43,nithish,80k\n44,raja,50k\n45,nithish,2l\n46,ram,50k\n47,manoj,1l\n48,nithish,2l\n49,sandeep,50k\n50,raja,70k\n51,sandeep,70k\n52,raja,60k\n53,ram,1l\n54,seema,40k\n55,raja,90k\n56,samba,1l\n57,murthy,90k\n58,manoj,1l\n59,seema,70k\n60,seema,1l\n61,manoj,30k\n62,ram,60k\n63,ram,40k\n64,murthy,80k\n65,samba,1l\n66,sandeep,70k\n67,manoj,3l\n68,murthy,90k\n69,nithish,60k\n70,ram,3l\n71,samba,90k\n72,murthy,50k\n73,raja,40k\n74,ram,40k\n75,nithish,90k\n76,murthy,60k\n77,nithish,2l\n78,manoj,80k\n79,seema,30k\n80,murthy,60k\n81,nithish,30k\n82,nithish,30k\n83,sandeep,70k\n84,ram,2l\n85,manoj,3l\n86,nithish,80k\n87,ram,40k\n88,seema,60k\n89,sandeep,50k\n90,raja,2l\n91,samba,2l\n92,murthy,1l\n93,nithish,90k\n94,seema,70k\n95,samba,30k\n96,sandeep,30k\n97,nithish,2l\n98,sandeep,3l\n99,manoj,3l\n'

In [43]:
f=open("data.csv")
data=f.readlines()
print(data,type(data))

['0,ram,30k\n', '1,samba,80k\n', '2,murthy,50k\n', '3,nithish,70k\n', '4,ram,60k\n', '5,sandeep,70k\n', '6,nithish,2l\n', '7,seema,40k\n', '8,nithish,3l\n', '9,manoj,40k\n', '10,raja,40k\n', '11,manoj,60k\n', '12,sandeep,70k\n', '13,sandeep,80k\n', '14,manoj,1l\n', '15,ram,3l\n', '16,ram,40k\n', '17,sandeep,3l\n', '18,ram,40k\n', '19,sandeep,30k\n', '20,nithish,80k\n', '21,murthy,3l\n', '22,raja,50k\n', '23,nithish,40k\n', '24,ram,1l\n', '25,raja,50k\n', '26,ram,30k\n', '27,ram,80k\n', '28,murthy,40k\n', '29,sandeep,2l\n', '30,ram,1l\n', '31,manoj,60k\n', '32,manoj,3l\n', '33,samba,40k\n', '34,ram,80k\n', '35,ram,40k\n', '36,seema,2l\n', '37,ram,3l\n', '38,ram,70k\n', '39,raja,90k\n', '40,seema,50k\n', '41,raja,90k\n', '42,raja,80k\n', '43,nithish,80k\n', '44,raja,50k\n', '45,nithish,2l\n', '46,ram,50k\n', '47,manoj,1l\n', '48,nithish,2l\n', '49,sandeep,50k\n', '50,raja,70k\n', '51,sandeep,70k\n', '52,raja,60k\n', '53,ram,1l\n', '54,seema,40k\n', '55,raja,90k\n', '56,samba,1l\n', '57,murthy,90k\n', '58,manoj,1l\n', '59,seema,70k\n', '60,seema,1l\n', '61,manoj,30k\n', '62,ram,60k\n', '63,ram,40k\n', '64,murthy,80k\n', '65,samba,1l\n', '66,sandeep,70k\n', '67,manoj,3l\n', '68,murthy,90k\n', '69,nithish,60k\n', '70,ram,3l\n', '71,samba,90k\n', '72,murthy,50k\n', '73,raja,40k\n', '74,ram,40k\n', '75,nithish,90k\n', '76,murthy,60k\n', '77,nithish,2l\n', '78,manoj,80k\n', '79,seema,30k\n', '80,murthy,60k\n', '81,nithish,30k\n', '82,nithish,30k\n', '83,sandeep,70k\n', '84,ram,2l\n', '85,manoj,3l\n', '86,nithish,80k\n', '87,ram,40k\n', '88,seema,60k\n', '89,sandeep,50k\n', '90,raja,2l\n', '91,samba,2l\n', '92,murthy,1l\n', '93,nithish,90k\n', '94,seema,70k\n', '95,samba,30k\n', '96,sandeep,30k\n', '97,nithish,2l\n', '98,sandeep,3l\n', '99,manoj,3l\n'] <class 'list'>

In [44]:
f=open("data.csv")
data=f.readline()
print(data,type(data))

0,ram,30k
 <class 'str'>

In [45]:
data=f.readline()
print(data,type(data))

1,samba,80k
 <class 'str'>

In [46]:
data=f.readline()
print(data,type(data))

2,murthy,50k
 <class 'str'>

In [47]:
data=f.readline()
print(data,type(data))

3,nithish,70k
 <class 'str'>

In [48]:
data=f.readline()
print(data,type(data))

4,ram,60k
 <class 'str'>

In [49]:
f=open("data.csv")
for row in f:
    print(row)
    break

0,ram,30k

In [50]:
f=open("data.csv")
for row in f:
    print(row)

0,ram,30k

1,samba,80k

2,murthy,50k

3,nithish,70k

4,ram,60k

5,sandeep,70k

6,nithish,2l

7,seema,40k

8,nithish,3l

9,manoj,40k

10,raja,40k

11,manoj,60k

12,sandeep,70k

13,sandeep,80k

14,manoj,1l

15,ram,3l

16,ram,40k

17,sandeep,3l

18,ram,40k

19,sandeep,30k

20,nithish,80k

21,murthy,3l

22,raja,50k

23,nithish,40k

24,ram,1l

25,raja,50k

26,ram,30k

27,ram,80k

28,murthy,40k

29,sandeep,2l

30,ram,1l

31,manoj,60k

32,manoj,3l

33,samba,40k

34,ram,80k

35,ram,40k

36,seema,2l

37,ram,3l

38,ram,70k

39,raja,90k

40,seema,50k

41,raja,90k

42,raja,80k

43,nithish,80k

44,raja,50k

45,nithish,2l

46,ram,50k

47,manoj,1l

48,nithish,2l

49,sandeep,50k

50,raja,70k

51,sandeep,70k

52,raja,60k

53,ram,1l

54,seema,40k

55,raja,90k

56,samba,1l

57,murthy,90k

58,manoj,1l

59,seema,70k

60,seema,1l

61,manoj,30k

62,ram,60k

63,ram,40k

64,murthy,80k

65,samba,1l

66,sandeep,70k

67,manoj,3l

68,murthy,90k

69,nithish,60k

70,ram,3l

71,samba,90k

72,murthy,50k

73,raja,40k

74,ram,40k

75,nithish,90k

76,murthy,60k

77,nithish,2l

78,manoj,80k

79,seema,30k

80,murthy,60k

81,nithish,30k

82,nithish,30k

83,sandeep,70k

84,ram,2l

85,manoj,3l

86,nithish,80k

87,ram,40k

88,seema,60k

89,sandeep,50k

90,raja,2l

91,samba,2l

92,murthy,1l

93,nithish,90k

94,seema,70k

95,samba,30k

96,sandeep,30k

97,nithish,2l

98,sandeep,3l

99,manoj,3l