In [1]:
def fun():
    print("fun")
class cls:
    print("this is class")

this is class

In [2]:
def fun():
    print("fun")
class cls:
    print("this is class")
    a=1000
    b=2000
    print(a,b)

this is class
1000 2000

In [3]:
def fun():
    print("fun")
class cls:
    print("this is class")
    a=1000
    b=2000
    print(a,b)
    def fun1(x):
        print("this is fun1 inside class")

this is class
1000 2000

In [4]:
def fun():
    print("fun")
class cls:
    a=1000
    b=2000
    def fun1(x):
        print("this is fun1 inside class")

In [5]:
def fun():
    print("fun")
class cls:
    a=1000
    b=2000
    def fun1(x):
        print("this is fun1 inside class")
print(a,b)

NameError: name 'a' is not defined

In [6]:
def fun():
    print("fun")
class cls:
    a=1000
    b=2000
    def fun1(x):
        print("this is fun1 inside class")
print(cls.a,cls.b)

1000 2000

In [8]:
def fun():
    print("fun")
class cls:
    a=1000
    b=2000
    def fun1(x):
        print("x=",x)
        print("this is fun1 inside class")
print(cls.a,cls.b)
print(cls.fun1(200))

1000 2000
x= 200
this is fun1 inside class
None

In [9]:
def fun():
    print("fun")
class cls:
    a=1000
    b=2000
    def fun1(x):
        print("x=",x)
        print("this is fun1 inside class")
cls_inst = cls()
print(cls.a,cls.b)
print(cls.fun1(cls_inst))

1000 2000
x= <__main__.cls object at 0x7fe304330e10>
this is fun1 inside class
None

In [1]:
class Emp:
    name="Jay"
    age=23
    sal=23456
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x):
        print("this is sal calculation")
print(Emp.name)

Jay

In [2]:
class Emp:
    name="Jay"
    age=23
    sal=23456
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x):
        print(x)
        print("this is sal calculation")
print(Emp.name)
jay=Emp()
Emp.sal_cal(jay)

Jay
<__main__.Emp object at 0x7fc05c2da128>
this is sal calculation

In [3]:
class Emp:
    name="Jay"
    age=23
    sal=23456
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x):
        print(x)
        print("this is sal calculation")
print(Emp.name)
jay=Emp()
Emp.sal_cal(jay)
print(jay.name)
print(jay.company_name)

Jay
<__main__.Emp object at 0x7fc05c2da438>
this is sal calculation
Jay
Khyaathi

In [4]:
class Emp:
    name="Jay"
    age=23
    sal=23456
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x):
        print(x)
        print("this is sal calculation")
print(Emp.name)
jay=Emp()
Emp.sal_cal(jay)
print(jay.name)
print(jay.company_name)
jay.sal_cal()

Jay
<__main__.Emp object at 0x7fc05c374e48>
this is sal calculation
Jay
Khyaathi
<__main__.Emp object at 0x7fc05c374e48>
this is sal calculation

In [5]:
def fun(x):
    print(x)
fun()

TypeError: fun() missing 1 required positional argument: 'x'

In [6]:
class Emp:
    name="Jay"
    age=23
    sal=23456
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x):
        print("x=",x)
        print("this is sal calculation")
print(Emp.name)
jay=Emp()
Emp.sal_cal(jay)
print(jay.name)
print(jay.company_name)
jay.sal_cal()

Jay
x= <__main__.Emp object at 0x7fc05f467dd8>
this is sal calculation
Jay
Khyaathi
x= <__main__.Emp object at 0x7fc05f467dd8>
this is sal calculation

In [7]:
class Emp:
    name="Jay"
    age=23
    sal=23456
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x):
        print("x=",x)
        print("this is sal calculation")
print(Emp.name)
jay=Emp()
Emp.sal_cal(jay)
print(jay.name)
print(jay.company_name)
jay.sal_cal(10)

Jay
x= <__main__.Emp object at 0x7fc05c2da080>
this is sal calculation
Jay
Khyaathi

TypeError: sal_cal() takes 1 positional argument but 2 were given

In [10]:
class Emp:
    name="Jay"
    age=23
    sal=23456
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x,y):
        print("x=",x)
        print("y=",y)
        print("this is sal calculation")
print(Emp.name)
jay=Emp()
Emp.sal_cal(jay,10)
print(jay.name)
print(jay.company_name)
jay.sal_cal(10)

Jay
x= <__main__.Emp object at 0x7fc05c25a358>
y= 10
this is sal calculation
Jay
Khyaathi
x= <__main__.Emp object at 0x7fc05c25a358>
y= 10
this is sal calculation

In [13]:
class Emp:
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x,y):
        print("x=",x)
        print("y=",y)
        print("this is sal calculation")
jay=Emp()
jay.name="JAYARAM"
jay.age=2.3
jay.sal=1234567
sai=Emp()
sai.name="SAI LAXMI"
sai.age=29
vedha=Emp()
vedha.sal=234567
vedha.age=11
print(vedha.name)

AttributeError: 'Emp' object has no attribute 'name'

In [14]:
class Emp:
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x,y):
        print("x=",x)
        print("y=",y)
        print("this is sal calculation")
jay=Emp()
jay.name="JAYARAM"
jay.age=2.3
jay.sal=1234567
sai=Emp()
sai.name="SAI LAXMI"
sai.age=29
vedha=Emp()
vedha.sal=234567
vedha.age=11
print(jay.name)
print(vedha.name)

JAYARAM

AttributeError: 'Emp' object has no attribute 'name'

In [16]:
class Emp:
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def sal_cal(x,y):
        print("x=",x)
        print("y=",y)
        print("this is sal calculation")
jay=Emp()
jay.name="JAYARAM"
jay.age=2.3
jay.sal=1234567
sai=Emp()
sai.name="SAI LAXMI"
sai.age=29
sai.sal=123456
vedha=Emp()
vedha.sal=234567
vedha.age=11
vedha.name="VEDHANVESH"
print(jay.name)
print(vedha.name)

JAYARAM
VEDHANVESH

In [17]:
class Emp:
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def get(x):
        return x.name,x.sal,x.age
jay=Emp()
jay.name="JAYARAM"
jay.age=2.3
jay.sal=1234567
sai=Emp()
sai.name="SAI LAXMI"
sai.age=29
sai.sal=123456
vedha=Emp()
vedha.sal=234567
vedha.age=11
vedha.name="VEDHANVESH"
print(sai.get())
print(jay.get())
print(vedha.get())

('SAI LAXMI', 123456, 29)
('JAYARAM', 1234567, 2.3)
('VEDHANVESH', 234567, 11)

In [19]:
class Emp:
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def get(x):
        return x.name,x.sal,x.age,x.company_name,x.compnay_address
jay=Emp()
jay.name="JAYARAM"
jay.age=2.3
jay.sal=1234567
sai=Emp()
sai.name="SAI LAXMI"
sai.age=29
sai.sal=123456
vedha=Emp()
vedha.sal=234567
vedha.age=11
vedha.name="VEDHANVESH"
print(sai.get())
print(Emp.get(sai))
print(jay.get())
print(Emp.get(jay))
print(vedha.get())
print(Emp.get(vedha))

('SAI LAXMI', 123456, 29, 'Khyaathi', 'MAithrivanam')
('SAI LAXMI', 123456, 29, 'Khyaathi', 'MAithrivanam')
('JAYARAM', 1234567, 2.3, 'Khyaathi', 'MAithrivanam')
('JAYARAM', 1234567, 2.3, 'Khyaathi', 'MAithrivanam')
('VEDHANVESH', 234567, 11, 'Khyaathi', 'MAithrivanam')
('VEDHANVESH', 234567, 11, 'Khyaathi', 'MAithrivanam')

In [20]:
class Emp:
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def get(x):
        return x.name,x.sal,x.age,x.company_name,x.compnay_address
    def set_data(x,e_name,e_age,e_sal):
        x.name=e_name
        x.sal=e_sal
        x.age=e_age
        
jay=Emp()
jay.set_data("JAYARAM", 2.3,1234567)
#jay.name="JAYARAM"
#jay.age=2.3
#jay.sal=1234567
sai=Emp()
sai.set_data("SAI LAXMI",29,123456)
#sai.name="SAI LAXMI"
#sai.age=29
#sai.sal=123456
vedha=Emp()
vedha.set_data("VEDHANVESH",11,2345678)
#vedha.sal=234567
#vedha.age=11
#vedha.name="VEDHANVESH"
print(sai.get())
print(jay.get())
print(vedha.get())

('SAI LAXMI', 123456, 29, 'Khyaathi', 'MAithrivanam')
('JAYARAM', 1234567, 2.3, 'Khyaathi', 'MAithrivanam')
('VEDHANVESH', 2345678, 11, 'Khyaathi', 'MAithrivanam')

In [21]:
class Emp:
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def get(x):
        return x.name,x.sal,x.age,x.company_name,x.compnay_address
    def set_data(x,e_name,e_age,e_sal):
        x.name=e_name
        x.sal=e_sal
        x.age=e_age
jay=Emp()
jay.set_data("JAYARAM", 2.3,1234567)
sai=Emp()
sai.set_data("SAI LAXMI",29,123456)
vedha=Emp()
vedha.set_data("VEDHANVESH",11,2345678)
print(sai.get())
print(jay.get())
print(vedha.get())

('SAI LAXMI', 123456, 29, 'Khyaathi', 'MAithrivanam')
('JAYARAM', 1234567, 2.3, 'Khyaathi', 'MAithrivanam')
('VEDHANVESH', 2345678, 11, 'Khyaathi', 'MAithrivanam')

In [22]:
class Emp:
    company_name="Khyaathi"
    compnay_address="MAithrivanam"
    def get(self):
        return self.name,self.sal,self.age,self.company_name,self.compnay_address
    def set_data(self,e_name,e_age,e_sal):
        self.name=e_name
        self.sal=e_sal
        self.age=e_age
jay=Emp()
jay.set_data("JAYARAM", 2.3,1234567)
sai=Emp()
sai.set_data("SAI LAXMI",29,123456)
vedha=Emp()
vedha.set_data("VEDHANVESH",11,2345678)
print(sai.get())
print(jay.get())
print(vedha.get())

('SAI LAXMI', 123456, 29, 'Khyaathi', 'MAithrivanam')
('JAYARAM', 1234567, 2.3, 'Khyaathi', 'MAithrivanam')
('VEDHANVESH', 2345678, 11, 'Khyaathi', 'MAithrivanam')

In [25]:
# product, class attributes: discount, data object attributes: name, cost price, sales price, category
#operations: sales, purchase, delivery
class Product:
    discount=5
    def sales(self):
        print("selling %s for the cost of: %s, with the discount:%s"%(self.name,self.sales_price,self.discount))
    def purchase(self):
        print("purchasing %s for the cost of:%s"%(self.name,self.cost_price))
    def delivery(self):
        pass
    def set_data(self,p_name,p_cost_price,p_sales_price,p_category):
        self.name=p_name
        self.cost_price=p_cost_price
        self.sales_price=p_sales_price
        self.category=p_category
        
iphone=Product()
iphone.set_data("6S",45000,90000,"cell")
iphone.purchase()
iphone.sales()

purchasing 6S for the cost of:45000
selling 6S for the cost of: 90000, with the discount:5

In [26]:
# product, class attributes: discount, data object attributes: name, cost price, sales price, category
#operations: sales, purchase, delivery
class Product:
    discount=5
    def sales(self):
        print("selling %s for the cost of: %s, with the discount:%s"%(self.name,self.sales_price,self.discount))
    def purchase(self):
        print("purchasing %s for the cost of:%s"%(self.name,self.cost_price))
    def delivery(self):
        pass
    def set_data(self,p_name,p_cost_price,p_sales_price,p_category):
        self.name=p_name
        self.cost_price=p_cost_price
        self.sales_price=p_sales_price
        self.category=p_category
        
iphone=Product()
iphone.set_data("6S",45000,90000,"cell")
iphone.purchase()
iphone.sales()
redme=Product()
redme.sales()

purchasing 6S for the cost of:45000
selling 6S for the cost of: 90000, with the discount:5

AttributeError: 'Product' object has no attribute 'name'

In [27]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get method")

this is class

In [28]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get method")
    def __init__(self):
        print("this is init")

this is class

In [29]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get method")
    def __init__(self):
        print("this is init")
sai=Emp()

this is class
this is init

In [30]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get method")
    def __init__(self):
        print("this is init")
sai=Emp()
jay=Emp()
vedha=Emp()

this is class
this is init
this is init
this is init

In [31]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get method")
    def __init__(self,x):
        print(x)
        print("this is init")
sai=Emp(10)
jay=Emp(20)
vedha=Emp(30)

this is class
10
this is init
20
this is init
30
this is init

In [32]:
class Emp:
    def get(self):
        print("this is get method")
    def __init__(self,name,age,sal):
        self.name=name
        self.age=age
        self.sal=sal
        
sai=Emp("SAILAXMI",29,23456)
jay=Emp("JAYARAM",23,345678)
vedha=Emp("VEDHANVESH",25,345678)

In [33]:
# product, class attributes: discount, data object attributes: name, cost price, sales price, category
#operations: sales, purchase, delivery
class Product:
    discount=5
    def sales(self):
        print("selling %s for the cost of: %s, with the discount:%s"%(self.name,self.sales_price,self.discount))
    def purchase(self):
        print("purchasing %s for the cost of:%s"%(self.name,self.cost_price))
    def delivery(self):
        pass
    def __init__(self,p_name,p_cost_price,p_sales_price,p_category):
        self.name=p_name
        self.cost_price=p_cost_price
        self.sales_price=p_sales_price
        self.category=p_category
        
iphone=Product("6S",45000,90000,"cell")
iphone.purchase()
iphone.sales()
redme=Product()
redme.sales()

purchasing 6S for the cost of:45000
selling 6S for the cost of: 90000, with the discount:5

TypeError: __init__() missing 4 required positional arguments: 'p_name', 'p_cost_price', 'p_sales_price', and 'p_category'

In [34]:
# product, class attributes: discount, data object attributes: name, cost price, sales price, category
#operations: sales, purchase, delivery
class Product:
    discount=5
    def sales(self):
        print("selling %s for the cost of: %s, with the discount:%s"%(self.name,self.sales_price,self.discount))
    def purchase(self):
        print("purchasing %s for the cost of:%s"%(self.name,self.cost_price))
    def delivery(self):
        pass
    def __init__(self,p_name,p_cost_price,p_sales_price,p_category):
        #constructor
        self.name=p_name
        self.cost_price=p_cost_price
        self.sales_price=p_sales_price
        self.category=p_category
        
iphone=Product("6S",45000,90000,"cell")
iphone.purchase()
iphone.sales()
redme=Product("REDME 7",5700,8000,"cell")
redme.sales()

purchasing 6S for the cost of:45000
selling 6S for the cost of: 90000, with the discount:5
selling REDME 7 for the cost of: 8000, with the discount:5