In [1]:
a=10
print(a,type(a))
a=10.23
print(a,type(a))
a=10+2j
print(a,type(a))
a=[10,20,30,40]
print(a,type(a))
a=(10,20,30,40)
print(a,type(a))
a=True
print(a,type(a))
a=None
print(a,type(a))
a={"name":"Jay","sal":34124}
print(a,type(a))
a={10,20,30}
print(a,type(a))

10 <class 'int'>
10.23 <class 'float'>
(10+2j) <class 'complex'>
[10, 20, 30, 40] <class 'list'>
(10, 20, 30, 40) <class 'tuple'>
True <class 'bool'>
None <class 'NoneType'>
{'name': 'Jay', 'sal': 34124} <class 'dict'>
{10, 20, 30} <class 'set'>

In [2]:
a=10
print(a,type(a))
a=10.23
print(a,type(a))
a=10+2j
print(a,type(a))
a=[10,20,30,40]
print(a,type(a))
a=(10,20,30,40)
print(a,type(a))
a=True
print(a,type(a))
a=None
print(a,type(a))
a={"name":"Jay","sal":34124}
print(a,type(a))
a={10,20,30}
print(a,type(a))
a="str1"
print(a,type(a))

10 <class 'int'>
10.23 <class 'float'>
(10+2j) <class 'complex'>
[10, 20, 30, 40] <class 'list'>
(10, 20, 30, 40) <class 'tuple'>
True <class 'bool'>
None <class 'NoneType'>
{'name': 'Jay', 'sal': 34124} <class 'dict'>
{10, 20, 30} <class 'set'>
str1 <class 'str'>

In [3]:
#arithmatic operations
a=1000
b=2000
print(a+b)
print(a-b)
print(a/b)
print(a%2)
print(a**2)
print(a//2)
print(a*b)

3000
-1000
0.5
0
1000000
500
2000000

In [4]:
#boolean operations
a=1000
b=2000
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a is b)
print(a in b)
print(a not in b)

False
True
False
True
False
False

TypeError: argument of type 'int' is not iterable

In [5]:
#boolean operations
a=1000
b=2000
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a is b)
#print(a in b)
print(a not in b)

False
True
False
True
False
False

TypeError: argument of type 'int' is not iterable

In [6]:
"""
not in operator not support for integers
"""
#boolean operations
a=1000
b=2000
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)
print(a is b)
#print(a in b)
print(a not in b)

False
True
False
True
False
True
False

TypeError: argument of type 'int' is not iterable

In [7]:
# bitwise operations
# & | ^ >>   <<
a=10
b=20
print(a&b)
print(a|b)
print(a^b)

0
30
30

In [8]:
# bitwise operations
# & | ^ >>   <<
a=10
b=20
print(a&b)
print(a|b)
print(a^b)
print(a<<2)
print(a>>2)

0
30
30
40
2

In [10]:
a=10
b=20
print(bin(a))
print(bin(b))

0b1010
0b10100

In [11]:
a=10.23
print(bin(a))

TypeError: 'float' object cannot be interpreted as an integer

In [12]:

a=10.23
b=23.45
a&b

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [13]:
# composit boolean operators
# bitwise operations
# & | ^ >>   <<
a=10
b=20
print(a&b)

0

In [14]:
# composit boolean operators
# bitwise operations
# & | ^ >>   <<
a=10
b=20
print(a&b)
print(bin(a))
print(bin(b))

0
0b1010
0b10100

In [15]:
#01010
#10100
# 0000 ==> 0*2**0
# composit boolean operators
# bitwise operations
# & | ^ >>   <<
a=10
b=20
print(a|b)
print(bin(a))
print(bin(b))

30
0b1010
0b10100

In [17]:
#01010
#10100
#11110
print(0*2**0+1*2**1+1*2**2+1*2**3+1*2**4)

30

In [18]:
a=10

In [19]:
a=10
print(a,type(a))
a=0b010101
print(a,type(a))
a=0o2345
print(a,type(a))

10 <class 'int'>
21 <class 'int'>
1253 <class 'int'>

In [20]:
a=0b0101
b=20
a+b

25

In [23]:
a=10
print(a,type(a))
a=0b010101
print(a,type(a))
a=0o2345
print(a,type(a))
a=0x123
print(a,type(a))

10 <class 'int'>
21 <class 'int'>
1253 <class 'int'>
291 <class 'int'>

In [24]:
a=0x12
print(a)

18

In [26]:
a=0x12
print(a,hex(a),bin(a),oct(a))

18 0x12 0b10010 0o22

In [27]:
a=012

SyntaxError: invalid token (<ipython-input-27-a7dc4a8fb67f>, line 1)

In [28]:
a=10
b=20
print(a/b)

0.5

In [29]:
a=10
b=20
a/b

0.5

In [30]:
a=10
b="0"
a>b

TypeError: '>' not supported between instances of 'int' and 'str'

In [31]:
a=10
b="0"
b=int(b)
a>b

True

In [32]:
a=1000

In [33]:
#dynamic memory alocation
#static memory alocation

In [34]:
a=10
b=20

In [35]:
a+b

30

In [36]:
a=10
b="sd"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
a=10
b=20
# 
print(a+b*a+b)

230

In [3]:
a=10
b=20
# 
print((a+b)*(a+b))

900

In [4]:
a=10
b=20
print(a+b**2)

410

In [5]:
a=10
b=20
print((a+b)**2)

900

In [6]:
a=10
b=20
print(a**2+b**2+2*a*b)

900

In [7]:
a**3

1000

In [9]:
a=24
a**0.5

4.898979485566356

In [10]:
import math

In [11]:
math.sqrt(24)

4.898979485566356

In [12]:
a=input("enter a value:")
print(a)

enter a value:python
python

In [13]:
# a,b : a+b, a/b, a*b, a-b
a=input("enter a value:")
b=input("Enter b value:")
print(a+b)
print(a-b)
print(a/b)
print(a*b)

enter a value:10
Enter b value:20
1020

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [14]:
a="10"
b="20"
print(type(a),type(b))

<class 'str'> <class 'str'>

In [15]:
a=input("enter a value:")
b=input("Enter b value:")
print(type(a),type(b))

enter a value:10
Enter b value:20
<class 'str'> <class 'str'>

In [16]:
a=input("enter a value:")
b=input("Enter b value:")
print(type(a),type(b))

enter a value:[1,2,3,4]
Enter b value:12.34
<class 'str'> <class 'str'>

In [17]:
a=input("enter a value:")
b=input("Enter b value:")
a=int(a)
b=int(b)
print(type(a),type(b))
print(a+b)
print(a-b)
print(a/b)
print(a*b)

enter a value:12
Enter b value:34
<class 'int'> <class 'int'>
46
-22
0.35294117647058826
408

In [18]:
a=input("enter a value:")
b=input("Enter b value:")
a=int(a)
b=int(b)
print(type(a),type(b))
print(a+b)
print(a-b)
print(a/b)
print(a*b)

enter a value:1.2
Enter b value:3.4

ValueError: invalid literal for int() with base 10: '1.2'

In [19]:
int(10.23)

10

In [20]:
int("10.23")

ValueError: invalid literal for int() with base 10: '10.23'

In [21]:
int("23")

23

In [22]:
int("38")

38

In [25]:
int("38")
print(8*10**0+3*10**1)

38

In [26]:
b=float("10.23")
print(b,type(b))

10.23 <class 'float'>

In [27]:
b=float("10.23")
print(b,type(b))
c=int(b)
print(c, type(c))

10.23 <class 'float'>
10 <class 'int'>

In [28]:
a=input("enter a value:")
b=input("Enter b value:")
a=int(a)
b=int(b)
print(type(a),type(b))
print(a+b)
print(a-b)
print(a/b)
print(a*b)

enter a value:shf
Enter b value:qewr

ValueError: invalid literal for int() with base 10: 'shf'

In [29]:
int("sdfsdf")

ValueError: invalid literal for int() with base 10: 'sdfsdf'

In [30]:
try:
    int("sdfsdf")
except:
    print("something wen wrong")

something wen wrong

In [31]:
a=input("enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(type(a),type(b))
print(a+b)
print(a-b)
print(a/b)
print(a*b)

enter a value:10.23
Enter b value:45.67
<class 'float'> <class 'float'>
55.900000000000006
-35.44
0.22399824830304357
467.20410000000004

In [32]:
a=input("enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(type(a),type(b))
print(a+b)
print(a-b)
print(a/b)
print(a*b)

enter a value:12
Enter b value:34
<class 'float'> <class 'float'>
46.0
-22.0
0.35294117647058826
408.0

In [33]:
a=input("enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(type(a),type(b))
print(a+b)
print(a-b)
print(a/b)
print(a*b)

enter a value:er
Enter b value:wreew

ValueError: could not convert string to float: 'er'

In [34]:
# 
a=input("enter char:")
print(a)

enter char:s
s

In [35]:
ord("s")

115

In [36]:
ord("S")

83

In [37]:
chr(83)

'S'

In [38]:
chr(115)

's'

In [39]:
ord("a")

97

In [42]:
ord("z")

122

In [43]:
ord("A")

65

In [44]:
ord("Z")

90

In [45]:
ord("a")-ord("A")

32

In [46]:
chr(90)

'Z'

In [47]:
name="sdfs"

In [48]:
customername="Sai"

In [49]:
customer_name="Sai"

In [50]:
customer$name="Sai"

SyntaxError: invalid syntax (<ipython-input-50-d44eab8b457f>, line 1)

In [51]:
_customer_name="Sai"

In [52]:
custome3r_name2="Sai"

In [53]:
2customer_name="Sai"

SyntaxError: invalid syntax (<ipython-input-53-3bb0e05d067a>, line 1)

In [54]:
char = input("Enter a char:")
print(char)

Enter a char:q
q

In [55]:
char = input("Enter a char:")
print(ord(char))

Enter a char:r
114

In [56]:
char = input("Enter a char:")
char_ascii_vakue = ord(char)
print(char_ascii_vakue-32)

Enter a char:r
82

In [57]:
char = input("Enter a char:")
char_ascii_vakue = ord(char)
uppr_char_ascii_value= char_ascii_vakue-32
print(chr(uppr_char_ascii_value))

Enter a char:r
R

In [1]:
cost=23.45
name="Apple"
# The cost price of the Apple is:23.45
print "hello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hello")? (<ipython-input-1-dd2640834bbc>, line 4)

In [2]:
cost=23.45
name="Apple"
# The cost price of the Apple is:23.45
print ("hello")

hello

In [3]:
cost=23.45
name="Apple"
# The cost price of the Apple is:23.45
print("The cost price of the",name)

The cost price of the Apple

In [4]:
cost=23.45
name="Apple"
# The cost price of the Apple is:23.45
print("The cost price of the",name,"is")

The cost price of the Apple is

In [5]:
cost=23.45
name="Apple"
# The cost price of the Apple is:23.45
print("The cost price of the",name,"is:")

The cost price of the Apple is:

In [6]:
cost=23.45
name="Apple"
# The cost price of the Apple is:23.45
print("The cost price of the",name,"is:",cost)

The cost price of the Apple is: 23.45

In [7]:
cost=23.45
name="Apple"
# The cost price of the Apple is:23.45
print("The cost price of the",name,"is:"cost)

SyntaxError: invalid syntax (<ipython-input-7-03ceb9d458af>, line 4)

In [8]:
cost=23.45
name="Apple"
# The cost price of the Apple is:23.45
print("The cost price of the",name,"is:",cost)

The cost price of the Apple is: 23.45

In [9]:
print("hi","hello")

hi hello

In [10]:
print("hi"+"hello")

hihello

In [11]:
print("hi"+23.45)

TypeError: can only concatenate str (not "float") to str

In [12]:
print("hi"+str(23.45))

hi23.45

In [13]:
cost=23.45
name="Apple"
# The cost price of the Apple is:23.45
print("The cost price of the",name,"is:"+str(cost))

The cost price of the Apple is:23.45

In [15]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
round(12.345678,2)

12.35

In [17]:
print("the baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58")

the baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58

In [18]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
print("The baby details:Name:",name)

The baby details:Name: Jay

In [19]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name)

The baby details:Name:Jay

In [20]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name,",")

The baby details:Name:Jay ,

In [21]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+",")

The baby details:Name:Jay,

In [22]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+",","Age:")

The baby details:Name:Jay, Age:

In [23]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+",","Age:",age)

The baby details:Name:Jay, Age: 1.1118

In [24]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+",","Age:"+age)

TypeError: can only concatenate str (not "float") to str

In [25]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+",","Age:"+str(age))

The baby details:Name:Jay, Age:1.1118

In [26]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+", Age:"+str(age)+", Height:")

The baby details:Name:Jay, Age:1.1118, Height:

In [27]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+", Age:"+str(age)+", Height:",height)

The baby details:Name:Jay, Age:1.1118, Height: 3.523478

In [28]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+", Age:"+str(age)+", Height:"+str(height))

The baby details:Name:Jay, Age:1.1118, Height:3.523478

In [29]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+", Age:"+str(age)+", Height:"+str(round(height,2)))

The baby details:Name:Jay, Age:1.1118, Height:3.52

In [30]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+", Age:"+str(age)+", Height:"+str(round(height,2))+", Weight:"+str(round(weight,2)))

The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58

In [31]:
print("%s%r%d%f%o%x%X")

%s%r%d%f%o%x%X

In [33]:
name="Jay"
# my name is jay
print("My name is %s",name)

My name is %s Jay

In [34]:
name="Jay"
# my name is jay
print("My name is %s"%name)

My name is Jay

In [35]:
a=23.45
print(int(a))

23

In [36]:
a=23.45
# the cost price of the prodcut:23
print("the cost price of the product:"+int(a))

TypeError: can only concatenate str (not "int") to str

In [37]:
a=23.45
# the cost price of the prodcut:23
print("the cost price of the product:"+str(int(a)))

the cost price of the product:23

In [38]:
a=23.45
# the cost price of the prodcut:23
print("the cost price of the product:"+str(int(a)))
print("the cost price of the prodcut:%d"%a)

the cost price of the product:23
the cost price of the prodcut:23

In [39]:
cost=23.45678
print("%f"%cost)

23.456780

In [40]:
cost=23.45678
print("%.2f"%cost)

23.46

In [42]:
age=1.1114
print("%f"%age)

1.111400

In [43]:
age=1.1114
print("%s"%age)

1.1114

In [44]:
name="anil"
print("the person name is:%s"%name)

the person name is:anil

In [45]:
name="anil"
age=23.35678
print("the person name is:%s, age:%s"%(name,age))

the person name is:anil, age:23.35678

In [46]:
name="anil"
age=23.35678
print("the person name is:%s, age:%.2f"%(name,age))

the person name is:anil, age:23.36

In [47]:
name="anil"
age=23.35678
print("the person name is:%s, age:%d"%(name,age))

the person name is:anil, age:23

In [48]:
name="anil"
age=23.35678
print("the person name is:%s, age:%d,%s"%(name,age))

TypeError: not enough arguments for format string

In [50]:
name="Jay"
age=1.1118
height=3.523478
weight=14.57893
#The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
print("The baby details:Name:"+name+", Age:"+str(age)+", Height:"+str(round(height,2))+", Weight:"+str(round(weight,2)))
print("The baby details:Name:%s, Age:%s, Height:%.2f, Weight:%.2f"%(name,age,height,weight))

The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58
The baby details:Name:Jay, Age:1.1118, Height:3.52, Weight:14.58

In [51]:
print("Today atmosphere is hot in hyderabad")
print("what about in other places")

Today atmosphere is hot in hyderabad
what about in other places

In [52]:
print("Today atmosphere is hot in hyderabad");print("what about in other places")

Today atmosphere is hot in hyderabad
what about in other places

In [53]:
print("Today atmosphere is hot in hyderabad\nwhat about in other places")

Today atmosphere is hot in hyderabad
what about in other places

In [54]:
print("Today atmosphere is hot in hyderabad\n\twhat about in other places")

Today atmosphere is hot in hyderabad
	what about in other places

In [55]:
print('Today atmosphere is hot in hyderabad\n\twhat about in other places')

Today atmosphere is hot in hyderabad
	what about in other places

In [56]:
# it's hot in "hyderabad" today
print('it's hot in "hyderbad today"')

SyntaxError: invalid syntax (<ipython-input-56-b645bc3fd786>, line 2)

In [57]:
# it's hot in "hyderabad" today
print('it\'s hot in "hyderbad today"')

it's hot in "hyderbad today"

In [58]:
# it's hot in "hyderabad" today
print("it's hot in "hyderbad today"")

SyntaxError: invalid syntax (<ipython-input-58-f6d527c0b98c>, line 2)

In [61]:
# it's hot in "hyderabad" today
print("it's hot in \"hyderbad\" today")

it's hot in "hyderbad" today

In [62]:
print("\n")

In [63]:
print("\\n")

\n

In [65]:
# it's hot in "hyderabad" today
print("it's hot in"+' "hyderbad" today')

it's hot in "hyderbad" today

In [66]:
s="sdfsfsd\nsdfsdf\tsdfsdfsd\nsdfsdf\tsdfsdfsd\nsdfsdfsd\tdsfsfsd\nsdfsdfsd"
print(s)

sdfsfsd
sdfsdf	sdfsdfsd
sdfsdf	sdfsdfsd
sdfsdfsd	dsfsfsd
sdfsdfsd

In [67]:
s="sdfsfsd\\nsdfsdf\\tsdfsdfsd\\nsdfsdf\\tsdfsdfsd\\nsdfsdfsd\\tdsfsfsd\\nsdfsdfsd"
print(s)

sdfsfsd\nsdfsdf\tsdfsdfsd\nsdfsdf\tsdfsdfsd\nsdfsdfsd\tdsfsfsd\nsdfsdfsd

In [68]:
s=r"sdfsfsd\nsdfsdf\tsdfsdfsd\nsdfsdf\tsdfsdfsd\nsdfsdfsd\tdsfsfsd\nsdfsdfsd"
print(s)

sdfsfsd\nsdfsdf\tsdfsdfsd\nsdfsdf\tsdfsdfsd\nsdfsdfsd\tdsfsfsd\nsdfsdfsd

In [69]:
print("%o"%12324)

30044

In [70]:
print("%x"%12324)

3024

In [71]:
print("%b"%12324)

ValueError: unsupported format character 'b' (0x62) at index 1

In [72]:
c="sdfsfsd\nsdfsdf\tsdfsdfsd\nsdfsdf\tsdfsdfsd\nsdfsdfsd\tdsfsfsd\nsdfsdfsd"
print("%s"%c)

sdfsfsd
sdfsdf	sdfsdfsd
sdfsdf	sdfsdfsd
sdfsdfsd	dsfsfsd
sdfsdfsd

In [73]:
c="sdfsfsd\nsdfsdf\tsdfsdfsd\nsdfsdf\tsdfsdfsd\nsdfsdfsd\tdsfsfsd\nsdfsdfsd"
print("%r"%c)

'sdfsfsd\nsdfsdf\tsdfsdfsd\nsdfsdf\tsdfsdfsd\nsdfsdfsd\tdsfsfsd\nsdfsdfsd'

In [74]:
name="jay"
age=23
# the name of the person is jay and he is 23 years old
print(f"the name of the person {name} he is {age} years old")

the name of the person jay he is 23 u=years old

In [75]:
name="jay"
age=23
# the name of the person is jay and he is 23 years old
print(f"the name of the person name he is age years old")

the name of the person name he is age years old

In [76]:
name="jay"
age=23
# the name of the person is jay and he is 23 years old
print(f"the name of the person {name} he is {age} years old. {x}")

NameError: name 'x' is not defined

In [77]:
name="jay"
age=23
# the name of the person is jay and he is 23 years old
print(f"the name of the person {name} he is {age:f} years old")

the name of the person jay he is 23.000000 years old

In [78]:
name="jay"
age=23
# the name of the person is jay and he is 23 years old
print(f"the name of the person {name} he is {age:.2f} years old")

the name of the person jay he is 23.00 years old

In [79]:
name="jay"
age=23
# the name of the person is jay and he is 23 years old
print(f"the name of the person {name} he is {age:.2f} years old {name}")

the name of the person jay he is 23.00 years old jay

In [80]:
name="jay"
age=23
# the name of the person is jay and he is 23 years old
print(f"the name of the person {name} he is {age:b} years old {name}")

the name of the person jay he is 10111 years old jay

In [81]:
print?

In [82]:
print("hello")
print("hi")

hello
hi

In [83]:
print("hello",end=",")
print("hi")

hello,hi

In [84]:
print?

In [86]:
print("hello","hi","how are you",end=",")

hello hi how are you,

In [87]:
print("hello","hi","how are you",end=",",sep=";")

hello;hi;how are you,

In [88]:
print?

In [89]:
f=open("a.txt","w")
print("hello","hi","how are you",end=",",sep=";",file=f)

In [90]:
f.close()

In [91]:
f=open("a.txt","w")
print("hello","hi","how are you",end=",",sep=";",file=f,flush=True)

In [92]:
bool("python")

True

In [6]:
print("2\u00b3")

2³

In [10]:
base=input("Enter base:")
exp=input("Enter exponant:")
print(bytearray(base)+"\u00b"+bytearray(exp))

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-4: truncated \uXXXX escape (<ipython-input-10-8a2292ac2098>, line 3)

In [11]:
base=input("Enter base:")
exp=input("Enter exponant:")
print("\u00b")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-4: truncated \uXXXX escape (<ipython-input-11-e613c91b2012>, line 3)

In [13]:
base=input("Enter base:")
exp=input("Enter exponant:")
print("2\u00b4")

Enter base:12
Enter exponant:34
2´

In [14]:
base=input("Enter base:")
exp=input("Enter exponant:")
print("2\u00b3")

Enter base:23
Enter exponant:45
2³

In [15]:
base=input("Enter base:")
exp=input("Enter exponant:")
print("2\u00b2")

Enter base:23
Enter exponant:45
2²

In [17]:
base=input("Enter base:")
exp=input("Enter exponant:")
print(f"{base}\u00b{exp}")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-4: truncated \uXXXX escape (<ipython-input-17-4469e8fc6e77>, line 3)

In [18]:
base=input("Enter base:")
exp=input("Enter exponant:")
print(f"{base}\u00b3")

Enter base:2
Enter exponant:4
2³

In [19]:
base=input("Enter base:")
exp=input("Enter exponant:")
print(f"{base}\u00b"+exp)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-4: truncated \uXXXX escape (<ipython-input-19-98232c9f2900>, line 3)

In [20]:
base=input("Enter base:")
exp=input("Enter exponant:")
print(f"{base}\u00b%s"%exp)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-4: truncated \uXXXX escape (<ipython-input-20-14e1d93f5153>, line 3)

In [22]:
base=input("Enter base:")
exp=input("Enter exponant:")
print(r"%s\u00b%s"%(base,exp))

Enter base:2
Enter exponant:3
2\u00b3

In [23]:
base=input("Enter base:")
exp=input("Enter exponant:")
print(u"%s\u00b%s"%(base,exp))

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-6: truncated \uXXXX escape (<ipython-input-23-1f381274f502>, line 3)

In [24]:
print(u"2\u00b3")

2³