In [1]:
# sqlite3
# this is preinstaled and pre configured for any os
# and the module sqlite3 is installed defaultly with python

In [2]:
import sqlite3
sqlite3.connect("db1.sqlite3")

In [3]:
import sqlite3
con = sqlite3.connect("db1.sqlite3")
cur=con.cursor()
q="create table customer(id int, name varchar(250))"
cur.execute(q)

In [4]:
q="insert into customer(id,name) values(1,'jay')"
cur.execute(q)

In [5]:
con.commit()

In [7]:
q="update customer set name='JAYARAM'"
cur.execute(q)

In [8]:
con.commit()

In [9]:
names = ["samba","murthy","nithish","raja","ram","sandeep","manoj","seema"]
import random
for i in range(2,100):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

In [10]:
q="update customer set name='jay' where id=1"
cur.execute(q)
con.commit()

In [11]:
q="delete from customer where id=1"
cur.execute(q)
con.commit()

In [12]:
q="select * from customer"
cur.execute(q)

In [15]:
q="select * from customer"
cur.execute(q)
data = cur.fetchall()
print(data)

[(2, 'ram'), (3, 'manoj'), (4, 'nithish'), (5, 'seema'), (6, 'manoj'), (7, 'ram'), (8, 'nithish'), (9, 'murthy'), (10, 'nithish'), (11, 'murthy'), (12, 'murthy'), (13, 'ram'), (14, 'sandeep'), (15, 'ram'), (16, 'nithish'), (17, 'seema'), (18, 'seema'), (19, 'murthy'), (20, 'samba'), (21, 'manoj'), (22, 'raja'), (23, 'manoj'), (24, 'nithish'), (25, 'sandeep'), (26, 'sandeep'), (27, 'seema'), (28, 'manoj'), (29, 'raja'), (30, 'manoj'), (31, 'manoj'), (32, 'raja'), (33, 'nithish'), (34, 'ram'), (35, 'samba'), (36, 'sandeep'), (37, 'samba'), (38, 'seema'), (39, 'raja'), (40, 'manoj'), (41, 'murthy'), (42, 'manoj'), (43, 'seema'), (44, 'nithish'), (45, 'sandeep'), (46, 'manoj'), (47, 'manoj'), (48, 'seema'), (49, 'nithish'), (50, 'samba'), (51, 'nithish'), (52, 'sandeep'), (53, 'nithish'), (54, 'ram'), (55, 'seema'), (56, 'samba'), (57, 'murthy'), (58, 'murthy'), (59, 'seema'), (60, 'sandeep'), (61, 'manoj'), (62, 'seema'), (63, 'murthy'), (64, 'sandeep'), (65, 'nithish'), (66, 'ram'), (67, 'murthy'), (68, 'manoj'), (69, 'sandeep'), (70, 'sandeep'), (71, 'sandeep'), (72, 'ram'), (73, 'manoj'), (74, 'samba'), (75, 'samba'), (76, 'raja'), (77, 'raja'), (78, 'ram'), (79, 'seema'), (80, 'raja'), (81, 'raja'), (82, 'nithish'), (83, 'ram'), (84, 'sandeep'), (85, 'sandeep'), (86, 'nithish'), (87, 'manoj'), (88, 'raja'), (89, 'nithish'), (90, 'raja'), (91, 'samba'), (92, 'seema'), (93, 'manoj'), (94, 'nithish'), (95, 'manoj'), (96, 'sandeep'), (97, 'raja'), (98, 'raja'), (99, 'nithish')]

In [19]:
q="select name,count(*) as co from customer group by name order by co"
cur.execute(q)
data = cur.fetchall()
print(data)

[('samba', 8), ('murthy', 9), ('ram', 10), ('raja', 12), ('seema', 12), ('sandeep', 14), ('nithish', 16), ('manoj', 17)]