In [1]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
print(emp)
print(address)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L'}
{'street': 'Anjaneyanagar', 'city': 'hyderabad', 'area': 'moosapet'}

In [2]:
for i in emp:
    print(i)

name
id
doj
salary

In [3]:
emp+address

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [4]:
emp-address

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [5]:
emp*address

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [6]:
emp/address

TypeError: unsupported operand type(s) for /: 'dict' and 'dict'

In [7]:
emp%2

TypeError: unsupported operand type(s) for %: 'dict' and 'int'

In [10]:
emp>address

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [11]:
emp<address

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [12]:
emp>=address

TypeError: '>=' not supported between instances of 'dict' and 'dict'

In [13]:
emp<=address

TypeError: '<=' not supported between instances of 'dict' and 'dict'

In [14]:
emp==address

False

In [15]:
emp!=address

True

In [16]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
print(emp)
print(address)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L'}
{'street': 'Anjaneyanagar', 'city': 'hyderabad', 'area': 'moosapet'}

In [17]:
for i in emp:
    print(i)

name
id
doj
salary

In [18]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp==emp

True

In [19]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp1={"doj":"2018-06-30","name":"jayaram","id":23,"salary":"10L"}
emp==emp1

True

In [20]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp1={"doj":"2018-06-30","name":"jayaram","id":23,"salary":"10L"}
emp==emp1

True

In [21]:
emp={"int":1,"float":1.2,"list":[1,2,3,4],"tuple":(1,2,3,4),"dict":{"a":1,"b":2},"comp":1+2j,"bool":True,"none":None,
    "set":{1,2,3,4}}
print(emp)

{'int': 1, 'float': 1.2, 'list': [1, 2, 3, 4], 'tuple': (1, 2, 3, 4), 'dict': {'a': 1, 'b': 2}, 'comp': (1+2j), 'bool': True, 'none': None, 'set': {1, 2, 3, 4}}

In [22]:
emp={1:"int",1.2:"float",1+2j:"comp",(1,2,3):"tuple",True:"bool",False:"bool",None:"none"}
print(emp)

{1: 'bool', 1.2: 'float', (1+2j): 'comp', (1, 2, 3): 'tuple', False: 'bool', None: 'none'}

In [23]:
emp={[1,2,3]:"list"}

TypeError: unhashable type: 'list'

In [24]:
emp={{1,2,3,4}:"list"}

TypeError: unhashable type: 'set'

In [25]:
emp={{1:2}:"list"}

TypeError: unhashable type: 'dict'

In [27]:
l=[1,2,3,4]
t=(1,2,3,4)
l[0]=1000
print(l)

[1000, 2, 3, 4]

In [28]:
l=[1,2,3,4]
t=(1,2,3,4)
t[0]=1000
print(t)

TypeError: 'tuple' object does not support item assignment

In [29]:
l=[1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [30]:
t=(1,2,3,4)
list(t)

[1, 2, 3, 4]

In [31]:
l=(1,2,3,4)
tuple(l)

(1, 2, 3, 4)

In [32]:
t=[1,2,3,4]
list(t)

[1, 2, 3, 4]

In [33]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
print(emp[0])

KeyError: 0

In [34]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
print(emp["name"])

jayaram

In [35]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
print(emp["adhar"])

KeyError: 'adhar'

In [36]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
print(emp["name"])
print(emp.get("name"))

jayaram
jayaram

In [37]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
print(emp.get("adhar"))
print(emp["adhar"])

None

KeyError: 'adhar'

In [38]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
print(emp.get("adhar",124234235))
print(emp["adhar"])

124234235

KeyError: 'adhar'

In [39]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp["cell"]=9676622023
print(emp)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L', 'cell': 9676622023}

In [40]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp["doj"]=9676622023
print(emp)

{'name': 'jayaram', 'id': 23, 'doj': 9676622023, 'salary': '10L'}

In [41]:
d={1:10,1:1000}
print(d)

{1: 1000}

In [42]:
d={1:20,True:300}
print(d)

{1: 300}

In [43]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
emp.update(address)
print(emp)
print(address)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L', 'street': 'Anjaneyanagar', 'city': 'hyderabad', 'area': 'moosapet'}
{'street': 'Anjaneyanagar', 'city': 'hyderabad', 'area': 'moosapet'}

In [44]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp["cell"]=972345
print(emp)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L', 'cell': 972345}

In [45]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
emp1 = emp.update(address)
print(emp1)

None

In [46]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
address={"street":"Anjaneyanagar","city":"hyderabad","area":"moosapet"}
emp1 = emp.update(address)
print(emp)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L', 'street': 'Anjaneyanagar', 'city': 'hyderabad', 'area': 'moosapet'}

In [47]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp.pop()

TypeError: pop expected at least 1 arguments, got 0

In [48]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp.pop("id")
print(emp)

{'name': 'jayaram', 'doj': '2018-06-30', 'salary': '10L'}

In [49]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
value=emp.pop("id")
print(emp)
print(value)

{'name': 'jayaram', 'doj': '2018-06-30', 'salary': '10L'}
23

In [50]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
value=emp.pop("cell")
print(emp)
print(value)

KeyError: 'cell'

In [51]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
value=emp.pop("cell",None)
print(emp)
print(value)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L'}
None

In [52]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
value=emp.pop(["name","id"])
print(emp)
print(value)

TypeError: unhashable type: 'list'

In [53]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
value=emp.popitem()
print(emp)
print(value)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30'}
('salary', '10L')

In [54]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
"name" in emp

True

In [55]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
"cell" in emp

False

In [56]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
"jayaram" in emp

False

In [57]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
"jayaram" in emp.values()

True

In [58]:
for i in emp:
    print(i)

name
id
doj
salary

In [59]:
for i in emp.values():
    print(i)

jayaram
23
2018-06-30
10L

In [60]:
for i in emp.items():
    print(i)

('name', 'jayaram')
('id', 23)
('doj', '2018-06-30')
('salary', '10L')

In [62]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp.clear()
emp

{}

In [63]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
e1=emp
emp.clear()
print(e1)
print(emp)

{}
{}

In [64]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
e1=emp.copy()
emp.clear()
print(e1)
print(emp)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L'}
{}

In [65]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp.update({"name":"sai"})
print(emp)

{'name': 'sai', 'id': 23, 'doj': '2018-06-30', 'salary': '10L'}

In [66]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp.update({"cell":9676622023})
print(emp)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L', 'cell': 9676622023}

In [67]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp.setdefault("cell",9676622023)
print(emp)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L', 'cell': 9676622023}

In [68]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp.setdefault("name","sai")
print(emp)

{'name': 'jayaram', 'id': 23, 'doj': '2018-06-30', 'salary': '10L'}

In [70]:
emp={"name":"jayaram","id":23,"doj":"2018-06-30","salary":"10L"}
emp.update({"name":"sai"})
print(emp)

{'name': 'sai', 'id': 23, 'doj': '2018-06-30', 'salary': '10L'}

In [71]:
emp={"name":"","id":23,"doj":"2018-06-30","salary":"10L"}
emp.update({"name":"sai"})
print(emp)

{'name': 'sai', 'id': 23, 'doj': '2018-06-30', 'salary': '10L'}

In [72]:
emp={"name":"","id":23,"doj":"2018-06-30","salary":"10L"}
emp.setdefault("name","sai")
print(emp)

{'name': '', 'id': 23, 'doj': '2018-06-30', 'salary': '10L'}